body {
    margin: 1%
}

a {
    cursor: pointer
}

button {
    display: block;
    margin: 3vh 0vh;
    user-select: none;
    padding: 4vh 8vh;
    font-size: 3vh
}

#field {
    position: absolute
}

#sidebar-header {
    position: absolute;
    margin-right: 1%;
    height: 8vh; 
    right: 0px;
    font-size: 6vh
}

#navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    padding-bottom: 2vh
}

#sidebar {
    position: absolute;
    margin-right: 1%;
    margin-left: 1%;
    right: 0px;
    font-size: 3vh
}

.tile {
    position: absolute;
    user-select: none;
}

.edge {
    text-align: center;
    background-color: blue;
}

.inner {
    background-color: crimson;
}

.corner {
    background-color: transparent;
}

.ball {
    background-color: black;
}

.error {
    position: absolute;
    top: 0px;
    background-color: transparent;
    border: 2px red solid;
}
